.report-heading {
    font-family: "Helvetica Neue",Times New Roman, serif;
    font-size: 36px;
    font-weight: bolder;
    color: #224575;
}

.table-header1 {
    background-color: #224575;
    text-align: center;
    vertical-align: middle;
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    color: white;
}

.common-label-cell {
    text-align: left;
}

.common-label {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    color: #224575;
    width: 150px;
    text-align: left;
}

.table-footer1 {
    background-color: #224575;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color:white;
}

.customer-image{
    height: 62px;
    width: 62px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

.table-detail1{
    background-color: #BDEEF6;
}

.table-content{
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    background-color: #BDEEF6;
    color: #000075;
}
