@charset "utf-8";
/* CSS Document */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

a:link {
    text-decoration: none;
    color: #000000;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
/*a:active {
    text-decoration: none;
    color:#224575;

}*/


#wrap {
    width:900px;
    margin:0 auto;

}


#content{
    width:906px;
    float: left;
}


#navigation {
    height: 30px;
    padding: 0;
    background: url(../images/menu_m.png) repeat-x;
    float:left;
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(border-radius.htc);
    font-size:9px;
}
#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#navigation ul li {
    display: inline;
    margin: 0px;
}
#navigation ul li a {
    height:21px;
    display: block;
    float: left;
    font: bold 12px Verdana;
    color: #FFF;
    text-decoration: none;
    background: url(../images/navigation-separator.png) no-repeat right center;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 15px;
    font-size:9px;
}

#navigation ul li a:hover {
    color:#FFF;
    background: url(../images/hover_img.gif) repeat-x left top;
}


#header_right {
    width:550px;
    height:20px;
    float:right;
    margin-top: 0px;
    text-align: right;
    color: #666;
}

#top_banner {
    width:900px;
    height:158px;
    background-image: url(../images/top-banner_M1.png);
    background-repeat:no-repeat;
    margin-top: 5px;
    float: left;

}
.urbangreymenu {
    width:125px;
    float:left;
    margin: 0px;
    padding: 0px;
}

.urbangreymenu .headerbar{
    margin-top:5px;
    color: white;
    background: url(../images/Button.png) no-repeat; /*last 2 values are the x and y coordinates of bullet image*/
    margin-bottom: 0; /*bottom spacing between header and rest of content*/
    text-transform: none;
    padding: 7px 0 7px 14px; /*14px is left indentation of header text*/
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
}

.urbangreymenu .headerbar a{
    text-decoration: none;
    color: white;
    display: block;
}

.urbangreymenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
    padding-bottom: 2px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
    font: normal 12px Arial;
    display: block;
    padding: 5px 0;
    line-height: 17px;
    padding-left: 12px; /*link text is indented 8px*/
    text-decoration: none;
    background-position: center center;
    color:#000000;

}

.urbangreymenu ul li a:visited{
    color: black;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
    background-image: url(../images/subheading.gif);
    background-repeat:no-repeat;
    background-position: right bottom;
    color:#000000;
}

#main_content {
    width:755px;
    float:left;
    margin: 5px 5px 0px 7px;
    padding: 0px;
}

#heading_top {
    background-image:url(../images/top_heading.gif);
    background-repeat:no-repeat;
    width:767px;
    height:22px;
    float:left;
}

#heading_bottom {
    background-image:url(../images/heading_bottom.gif);
    background-repeat:no-repeat;
    width:767px;
    height:16px;
    float:left;
}
#heading_middle{
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #224575;
    border-left-color: #224575;
    width:765px;
    background-color:#FFFFFF;
    float: left;
    padding-right: 0px;
    padding-left: 0px;

}
.heading_name {
    width:600px;
    float: left;
    margin-right: 0px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 14px;
}

.dCHartSmall{
    position: relative;
    float: left;
    left: 0px;
    width: 365px;
    height: 330px;
    margin:10px 0px 0px 10px;
    border: 1px solid #aaa;
    border: 1px solid rgba(37, 74, 126, 0.50);

    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    /*behavior: url(../css/border-radius.htc);*/
    border-radius: 14px;
}
.dCHartSmall1{
    position: relative;
    float: left;
    left: 0px;
    width: 450px;
    height: 220px;
    margin:10px 0px 0px 10px;
    border: 1px solid #aaa;
    border: 1px solid rgba(37, 74, 126, 0.50);

    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    /*behavior: url(../css/border-radius.htc);*/
    border-radius: 14px;
}
.dCHartSmall2{
    position: relative;
    float: left;
    left: 0px;
    width: 280px;
    height: 220px;
    margin:10px 0px 0px 10px;
    border: 1px solid #aaa;
    border: 1px solid rgba(37, 74, 126, 0.50);

    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    /*behavior: url(../css/border-radius.htc);*/
    border-radius: 14px;
}
.dCHartLarge{
    position: relative;
    float: left;
    left: 0px;
    width: 742px;
    height: 300px;
    margin: 10px 0px 0px 10px;
    border: 1px solid #aaa;
    border: 1px solid rgba(37, 74, 126, 0.50);

    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    /*behavior: url(../css/border-radius.htc);*/
    border-radius: 14px;
}
#report_heading {
    background-image:url(../images/report_header.gif);
    background-repeat:no-repeat;
    width:900px;
    height:40px;
    float:right;
}

.content_param {
    width:900px;
    color:#000000;
    float:left;
}

#footer {
    width:900px;
    height:28px;
    background-image: url(../images/footer.gif);
    background-repeat:no-repeat;
    float: left;
    margin-top: 10px;
}

.footer_heading {
    width:515px;
    float: left;
    margin-left: 195px;
    font-size:10px;
    color: #FFFFFF;
    margin-top: 6px;
}

.home {
    width:6px;
    height:35px;
    float:left;

}

.tableborder {
    border:#CCCCCC 1px solid;
}

.rowtop-color {
    background-color:#224575;
    font:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    border-bottom:#CCCCCC 1px solid;
}

.rowmiddle-color {
    background-color:#e0dcdc;
    font:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-align:left;
    padding-left:10px;
    border-bottom:#CCCCCC 1px solid;
}

.rowsub-color {
    background-color:#caccca;
    font:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-align:left;
    padding-left:10px;
    border-bottom:#CCCCCC 1px solid;
}

.dropdown {
    width:146px;
    height:100px;
}

.list {
    min-width:146px;
}

.month_list {
    width:146px;
}

.item2list {
    height:34px;
    width:146px;
}

.item3list {
    min-width:146px;
    height:50px;
}

.alert{
    visibility:hidden;
    color:#ff0000;
}

.star{
    color:#ff0000;
}
.dropdownEvents{
    width:250px;
    height:100px;
}
.inputDate{
    width: 144px;
}
.searchByList{
    width: 144px;
}
.inputTypeId{
    width: 144px;
}

#startDateLable{
    width:100px;
}
#endDateLable{
    width:100px;
}
#searchBy{
    width:100px;
}
#typeIdLabel{
    width:100px;
}
#resetBtnLabel{
    width:100px;
}
#blankLabel{
    width:120px;
}

#formButton{
    width:250px;
}
#chkBox
{
    margin-left:-3px;
}

#yearsList
{
    margin-left:0.3px;
}
#tableEvents{
    margin-top:0px;
    margin-right:95px;
    width:765px;
}
#submitBtn{

    margin-left:0px;
    margin-bottom: 15px;
}
#resetBtn{

    margin-bottom: 15px;
    margin-right:1px;
}

#dateAlert2{
    margin-top:-14px;
}

#hourAlert2{
    margin-top:-14px;
}

#eventsAlert2{
    margin-top:-14px;
}

#campRuleAlert2{
    margin-top:-14px;
}

.pdfTest{
    background-image:url("../images/pdficon.png");
    background-repeat:no-repeat;
    width:16px;
    height:16px;
}

.table-cell-btn {
    padding-top: 12px;
    display: table-cell;
    vertical-align: middle;

}

.table-cell-btn-2 {
    padding-top: 12px;
    display: table-cell;
    vertical-align: middle;
}

.table-cell {
    padding-top: 12px;
    display: table-cell;
    vertical-align: bottom;
    width: 150px;
}

.table-cell-2 {
    padding-top: 12px;
    display: table-cell;
    vertical-align: bottom;
    width: 250px;
}

.table-cell-3{
    padding-top: 12px;
    display: table-cell;
    vertical-align: bottom;
    width: 250px;
}

form .clearfix {
    margin-top: 5px;
    margin-left: 20px;
    zoom: 1;
}

form .clearfix:before, form .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
}

form .clearfix:after {
    clear: both;
}

.container {
    width: 760px;
    height: auto;
    float: none;
}

.error {
    color: #D8000C;
    background-image: url('../images/error.png');
    margin: 10px 0px;
    padding: 10px 40px 10px 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-navigation {
    background-image: url("../images/news_sprite_v1.png");
    background-position: -0px -683px;
    background-repeat: repeat-x;
    padding: 5px 0;
    width: 100%;
    border: none;
    font-size: 10px;
}

.top-navigation {
    background-image: url("../images/news_sprite_v1.png");
    background-position: 100% -53px;
    background-repeat: no-repeat;
    display: inline;
    color: #000000;
    padding: 0.1em 0.8em;
    font-weight: bold;
    height: 15px;
}


.heading_name2 {
    width: 600px;
    float: left;
    margin-right: 0px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 14px;
}

.table-cell-3 {
    padding-top: 12px;
    display: table-cell;
    vertical-align: bottom;
    width: 100px;
}

#heading_top2 {
    background-image: url(../images/top_heading.gif);
    background-repeat: no-repeat;
    width: 767px;
    height: 22px;
    float: right;
    background-color: #254a7d;
    margin-top: 5px;
}

#heading_middle2{
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #224575;
    border-left-color: #224575;
    width:765px;
    float: right;
    padding-right: 0px;
    padding-left: 0px;

}

#heading_bottom2 {
    background-image:url(../images/heading_bottom.gif);
    background-repeat:no-repeat;
    width:767px;
    height:16px;
    float:right;
}

#errorContent {
   padding-left: 75px ;
}

.table-cell-4 {
    padding-top: 20px;
    display: table-cell;
    vertical-align: bottom;
    width: 250px;
}

.error_message_above_field {
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
    text-align: left;
    margin-bottom: 5px;
}

.pagination {
    margin-top: 25px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4265af;
    color: white;
}

.center {
    text-align: center;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.report_table {
    border-collapse: collapse;
    width: 100%;
}

.report_th, .report_td {
    text-align: left;
    padding: 8px;
    padding-left: 30px;
}

.report_tr:nth-child(even){background-color: #f2f2f2}

.report_th {
    font-weight: bold;
    color: #000000;
}

.heading_details {
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
}

.report_date {
    color : #254a7d;
}

.report_table a {
    color: darkgreen;
}

.report_table div {
    color: indianred;
}