.birtviewer_toolbar {
    background-color: #ffffff;
    border: none;
    /*margin-left: 21px;*/
}

.birtviewer_navbar {
    background-color: #ffffff;
    border: none;
    /*margin-left: 15px;*/
    /*width: 96%;*/
}

.birtviewer_document_fragment {
    border: none;
    /*margin-left: 15px;*/
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(fonts/opensans/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #8f4f16;
}

a:hover {
    color: #62360e;
}

